[Unit]
Description=Spillman Automation - Misc
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/spillman-automation
ExecStart=/usr/bin/python3 /opt/spillman-automation/app.py --misc

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target